<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>Have you ever considered that your website may be annoying? When it’s comes to website design, knowing what visitors hate most is a must, unless you don’t want them to visit you again. This article describes what you should exclude from your website.</p>